.genres-container {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;

  &.small {
    padding: 0;
  }

  .genres-box {
    font-weight: 400;
    margin: 0 0.3rem 0.3rem 0;
    position: relative;
    cursor: pointer;
    color: white;

    @media screen and (max-width: 768px) {
      flex-grow: 0.3;
    }

    &:hover {
      opacity: 0.7;
    }

    .genres-link {
      justify-content: center;
      color: #fff;
      text-decoration: none;
      display: flex;
      font-size: 0.75rem;
      padding: 0.5rem 0.8rem;
      position: relative;
      z-index: 2;
    }

    // .active {
    //   transform: scale(1.2);
    //   font-size: 1rem;
    //   color: black;
    //   font-weight: 700;
    // }

    .gradient-background {
      content: "";
      z-index: 1;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      transition: opacity 1s cubic-bezier(0.15, 1, 0.33, 1);
    }
  }
}
