.hero-container {
  position: relative;
  overflow: hidden;
  max-height: 40rem;
  margin-bottom: 4rem;

  @media screen and (max-width: 768px) {
    margin-bottom: 1rem;
  }

  .slick-slide div {
    outline: none;
  }

  .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 40%;
    cursor: pointer;
    font-size: 4rem;
    color: white;

    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }

  .prev {
    left: 0.5rem;
  }

  .next {
    right: 0;
  }

  img {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 90rem;
  }

  .carousel-info-container {
    max-width: 60rem;
    margin: 0 auto;

    .carousel-info {
      position: absolute;
      bottom: 0;
      padding: 1rem;
      background: rgba(0, 0, 0, 0.5);
      max-width: 100%;

      @media screen and (max-width: 768px) {
        // width: 23.5rem;
        bottom: 3%;
        width: 100vw;
      }

      @media screen and (min-width: 769px) {
        position: absolute;
        bottom: 3%;
        padding: 1rem;
        background: rgba(0, 0, 0, 0.5);
        width: 47rem;
      }

      .title {
        color: white;
        margin: 0;
        font-size: 2.5rem;

        @media screen and (max-width: 768px) {
          font-size: 1.2rem;
        }
      }

      .overview {
        color: white;
        margin: 0.5rem auto;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      .read-more-link {
        color: lightblue;
        cursor: pointer;
        display: inline-block;
      }
    }
  }
}
