.hero-container {
  position: relative;
  overflow: hidden;
  max-height: 40rem;
  margin-bottom: 4rem;

  @media screen and (max-width: 768px) {
    margin-bottom: 1rem;
  }

  .slick-slide div {
    outline: none;
  }

  img {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 90rem;
  }

  .carousel-info-container {
    max-width: 60rem;
    margin: 0 auto;

    .carousel-info {
      position: absolute;
      bottom: 21%;
      padding: 1rem;
      background: rgba(0, 0, 0, 0.5);
      width: 30rem;

      .title {
        color: white;
        margin: 0;
        font-size: 3.5rem;
      }

      .overview {
        color: white;
        margin: 0.5rem auto;
      }

      .read-more-link {
        color: white;
        cursor: pointer;
        display: inline-block;
      }
    }
  }
}
