.hero-container {
  position: relative;
  overflow: hidden;
  max-height: 40rem;
  margin-bottom: 4rem;

  @media screen and (max-width: 768px) {
    margin-bottom: 1rem;
  }

  .slick-slide div {
    outline: none;
  }

  img {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 90rem;
  }
}
