.page {
  position: absolute;
  width: 100%;
  // height: 100vh;

  .content-section {
    margin: 0 auto;
    width: 75rem;

    .content-section-container {
      display: flex;
      flex-wrap: wrap;

      .movie {
        flex-basis: 25%;

        .movie-medium {
          width: 100%;

          img {
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            display: block;
          }
        }
      }
    }
  }
}
