.page {
  position: absolute;
  width: 100%;
  height: 100vh;

  @media screen and (max-width: 768px) {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    position: absolute;
  }

  .content-section {
    margin: 0 auto;
    max-width: 75rem;

    @media screen and (max-width: 768px) {
      max-width: 56rem;
    }

    .movie-type {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      flex: 0 100%;
      margin-bottom: 2rem;
      margin-top: 2rem;

      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border: 1px solid #fff;
        border-radius: 4px;

        li {
          display: inline-block;
          padding: 6px 15px;
          color: #fff;
          font-size: 11px;
          cursor: pointer;
          user-select: none;
          border-right: 1px solid #fff;

          &.active {
            background: #fff;
            color: #000;
          }
        }
      }
    }

    .content-section-container {
      display: flex;
      flex-wrap: wrap;

      .movie {
        flex-basis: 25%;
        position: relative;
        overflow: hidden;
        background: black;

        @media screen and (max-width: 768px) {
          flex-basis: 33%;
        }

        .movie-info {
          display: flex;
          position: absolute;
          bottom: 0;
          transform: translateY(100%);
          transition: transform 0.5s cubic-bezier(0.15, 1, 0.33, 1);
          padding: 0.75rem;
          color: white;
          width: 100%;
          text-align: center;

          .movie-title {
            margin: 0 auto;
          }
        }

        &:hover {
          img {
            opacity: 0.5;
            transform: scale(1.1);
            cursor: pointer;
          }

          .movie-info {
            transform: translateY(0);
          }
        }

        .movie-medium {
          width: 100%;

          img {
            max-width: 100%;
            height: auto;
            vertical-align: middle;
            display: block;

            &:hover {
              transition: transform 0.5s cubic-bezier(0.15, 1, 0.33, 1);
            }
          }
        }
      }
    }
  }
}
