.movie-page {
  position: absolute;
  width: 100%;
  height: 100vh;

  .move-page-container {
    position: relative;
  }

  @media screen and (max-width: 768px) {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    position: absolute;
  }

  .image-container {
    position: absolute;
    width: 100%;

    img {
      height: auto;
      margin: 0 auto;
      max-width: 100%;
      width: 90rem;
      opacity: 0.7;
    }
  }

  .details {
    position: relative;
    max-width: 60rem;
    margin: 0 auto;

    .title {
      margin-top: 10rem;
      font-size: 4rem;
      color: white;
      text-align: center;
      z-index: 1;
      text-shadow: 0 0 15px #000;

      @media screen and (max-width: 768px) {
        font-size: 2.5rem;
        margin-top: 5rem;
      }

      @media screen and (max-width: 375px) {
        font-size: 1.6rem;
        margin-top: 4rem;
      }
    }

    .tagline {
      color: white;
      z-index: 1;
      text-shadow: 0 0 15px #000;
      text-align: center;

      @media screen and (max-width: 768px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 375px) {
        font-size: 1rem;
      }
    }

    .info {
      background: white;
      box-shadow: 0 4px 15px -4px rgba(0, 0, 0, 0.6);
      position: relative;
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 6rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;

      @media screen and (max-width: 768px) {
        margin-top: 4.5rem;
      }

      .overview {
        font-size: 1rem;
        line-height: 2rem;
        margin-top: 1rem;
        padding-right: 1.5rem;
        text-align: left;
        font-weight: 100;

        @media screen and (max-width: 768px) {
          font-size: 0.75rem;
          text-align: center;
          margin-top: 0;
          line-height: 1rem;
          padding-right: 0;
        }
      }

      .specific-details {
        padding-right: 1.5rem;
        align-self: center;

        @media screen and (max-width: 768px) {
          padding-right: 0;
        }

        div {
          padding-bottom: 0.5rem;
          font-size: 1rem;
          font-weight: 100;

          @media screen and (max-width: 768px) {
            font-size: 0.75rem;
          }

          > span {
            font-weight: 400;
            margin-right: 0.5rem;

            @media screen and (max-width: 768px) {
              font-size: 0.65rem;
            }
          }
        }
      }

      .doughnut-chart-container {
        display: flex;
        justify-content: center;
        align-items: center;

        canvas {
          width: 200px !important;
          height: 100px !important;
        }

        .score {
          position: absolute;
          font-size: 1.5rem;
        }
      }
    }

    .cast-section {
      position: relative;
      padding: 2rem 1rem;
      background: #eee;
      max-width: 90%;
      margin: 0 auto;

      h2 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 3rem;
      }

      .cast-container {
        margin: 2rem 0;

        .cast-item {
          margin-bottom: 2rem;
          text-align: center;

          .cast-name {
            font-weight: 700;
            margin: 0.5rem 0;
          }

          .cast-character {
            font-size: 0.75rem;
          }
        }

        img {
          border-radius: 50%;
          width: 7rem;
          height: 7rem;

          @media screen and (max-width: 768px) {
            width: 4rem;
            height: 4rem;
          }
        }
      }
    }

    .reviews-section {
      position: relative;
      padding: 2rem 1rem;
      max-width: 90%;
      margin: 0 auto;
      background: white;

      .reviews-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      h2 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 3rem;
        color: black;
      }
    }

    .similar-movies-section {
      position: relative;
      padding: 2rem 1rem;
      max-width: 90%;
      margin: 0 auto;
      background: #eee;

      > h2 {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 3rem;
        color: black;
      }
    }
  }
}
